#map-wrapper {
    width: 98.5vw;
    height: 97vh;
    position: relative;
    border: 1px solid black;
}

#map {
    width: 98.5vw;
    height: 97vh;
    background-color: green;
}

#button-wrapper {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0px; 
    left: 0px; 
    background: #fff; 
}

#button-getPaths {
    position: absolute;
    top: 20px; 
    right: 20px; 
}


