#map-wrapper {
    width: 98.5vw;
    height: 97vh;
    position: relative;
    border: 1px solid black;
}

#map {
    width: 98.5vw;
    height: 97vh;
    background-color: green;
}

#button-wrapper {
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0px; 
    left: 0px; 
    background: #fff;
    border: 1px solid black;
}

#button-getPaths {
    position: absolute;
    top: 20px; 
    right: 20px; 
}

#routes-info {
    position: absolute;
    width: 55vw;
    height: 90vh;
    top: 15px; 
    left: 120px; 
    background: #fff; 
    border: 1px solid black;
}
#close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 22px; 
    left: 62vh; 
    background: #E74C3C; 
    border: 1px solid black;
}

#img {
    position: absolute;
    width: 450px;
    height: 500px;
    top: 31.5vh; 
    left: 19vh; 
}

